

/* body */

body{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}


/* header */

#header{
    position: fixed;
    top: 1em;
    left: 1em;
    width: calc(100vw - 6em);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.15);
}

h1{
    display: inline-block;
    font-size: 1.5em;
    margin: 0 2em 0 1em;
    transform: translateY(0.1em);
    border-bottom: 3px solid rgba(255, 255, 255, 0.75);
}

button{
    font-family: "Work Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
    margin-right: 0.5em;
}
button:active{
    transform: translate(3px, 3px);
    box-shadow: none;
}
#sourcecode{ float: right; }


/* main */

#main{
    position: fixed;
    top: 6em;
    left: 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 7em);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1em;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

#mainscroll{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2em;
}

.page{
    position: absolute;
    top: 0;
}
#home{ left: 0; }
#key{ left: 100vw; }
#buildings{ left: 200vw; }
#pictures{ left: 300vw; }
#other-stuff{ left: 400vw; }