

/* body */

body{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}


/* header */

#header{
    position: fixed;
    top: 1em;
    left: 1em;
    width: calc(100vw - 6em);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    white-space: nowrap;
}

#title{
    font-size: 1.5em;
    transform: translateY(0.1em);
    border-bottom: 3px solid rgba(255, 255, 255, 0.75);
}

#buttons{
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    padding-bottom: 0.5em;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 1000px) {
    #title{
        display: inline-block;
        margin: 0 2em 0 1em;
    }
    #buttons{
        display: inline;
    }
    #sourcecode{ float: right; }
}
@media all and (max-width: 1000px) {
    #title{
        display: block;
        text-align: center;
        margin: 0 0 0.5em 0;
    }
}


/* main */

#main{
    position: fixed;
    left: 1em;
    width: calc(100vw - 2em);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1em;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.15);
    overflow-x: hidden;
    backdrop-filter: blur(2px);
}

@media all and (min-width: 1000px) {
    #main{
        top: 6em;
        height: calc(100vh - 7em);
    }
}
@media all and (max-width: 1000px) {
    #main{
        top: 10em;
        height: calc(100vh - 11em);
    }
}

#mainscroll{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2em;
}

.page{
    position: absolute;
    top: 0;
    width: calc(100% - 4em);
}
#home{ left: 0; }
#key{ left: 100vw; }
#buildings{ left: 200vw; }
#pictures{ left: 300vw; }
#history{ left: 400vw; }
#statistics{ left: 500vw; }


/* pages */

#hometitle{ font-size: 2em; }

#filter{ margin-top: 1em; }
.filterbox{ display: inline-block; }
#filterbox-all{
    padding-right: 1em;
    border-right: 3px solid rgba(0, 0, 0, 0.25);
    margin-right: 1em;
}

#buildinglist{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40em, 1fr));
    gap: 2em;
    margin: 4em;
}
#buildinglist > section{
    display: grid;
    grid-template-columns: 14em auto;
    grid-template-rows: auto 1fr;
    margin: 1em;
    gap: 2em;
}
#buildinglist > section > img{
    grid-row: 1 / 3;
    width: 14em;
    border-radius: 1em;
}


/* elements */

button{
    font-family: "Work Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
    margin-right: 0.5em;
}
button.pressed, button:active{
    transform: translate(3px, 3px);
    box-shadow: none;
}
button:hover{ transform: scale(1.05); }
button.pressed:hover, button:active:hover{ transform: translate(3px, 3px) scale(1.05); }

a{
    color: #0048ff;
    text-decoration: none;
    display: inline-block;
}
a:not(#sourcecode):hover{ transform: scale(1.05); }

h2{
    font-size: 1.75em;
    line-height: 1em;
}
h3{ font-size: 1.5em; }

hr{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin: 1.5em 0.25em;
}